@font-face {
    font-family:myFont ;
    src: url(./28\ Days\ Later.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#hero{
    height: 100%;
    width: 100%;
    background-image: url(./a68d270266347c027d5e290efd57bb93.jpg);
    background-size: cover;
    background-position: center;
    /* text-align: right; */
    padding: 70px;
    
}
#inner{
    
    text-align: right;
    color: azure;
    
}
h1{
    font-family: myFont;
    color:azure ;
    font-size: 70px;
    font-weight: 600;
    text-align: right;
    
}
